## You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

## logs
*.log
*.log.*

## Ignore folders.
.storage
.cloud
.google.token

## Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
known_devices.yaml
secrets.yaml

## Others
._includes
.homekit.state
.spotify-token-cache
.vscode/
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
lost+found
